* {
	font-family: "Roboto", sans-serif;
}

h1,h2 {
	font-family: "Montserrat", sans-serif;
}

img {
	height:  250px;
	width: 250px;
}

#landing {
	height: 80vh;
	display:  flex;
	flex-direction:  column;
	justify-content:  center;
	align-items: center;
}

.jumbotron {
	background-color: transparent;
}

#gallery {
	height: 75vh;
	display:  flex;
	flex-direction:  column;
	justify-content:  center;
	align-items: center;
}

h2 {
	color: lightseagreen;
}

ul {
	list-style: none;
	padding: 0;
}

.tools {
	color: white;
	border: 5px solid #f2f2f2;
	margin: 20px;
	padding: 25px;
	width: 75%;
	height: 200px;
}

.img-fluid {
	border-radius: 50%;
}

html {
	scroll-behavior: smooth;
}

.navbar {
	background-color: lightseagreen;
}